* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

img {
    width: 500px;
    height: 500px;
}

body {
}

/* .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

/* header */
header,
.first {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #1f2937;
    color: #f9faf8;
}
header{
    align-items: center;

}

.logo {
    font-size: 2.3em;
}
.header-links {
    display: flex;
    gap: 20px;
}

.header-links a {
    font-size: 1.2em;
    color: #f9faf8;

}

/* section */

.first img {
    width: 300px;
    height: 300px;
}

.left-first {
    max-width: 300px;
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.left-first p {
    text-align: justify;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border: solid #3882f6 5px;
    padding: 5px 10px;
    border-radius: 50%;
}